body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #e1e0db;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	font-size:13px;
	line-height: 17px;
	color:#000;
}



/* DOSSIER BACKGROUND */
/* ----------------------------------------- */

#wrapper {
	width:969px;
	margin:0 auto;
	margin-top:60px;
	margin-bottom:100px;
	box-shadow: 10px 10px 5px #888888;
}

.wrapper-top {
	width:969px;
	height:19px;
	margin:0 auto;
	background-image:url(../images/btop.jpg);
	background-repeat:no-repeat;
}

.wrapper-mid {
	width:969px;
	margin:0 auto;
	background-image:url(../images/bmid.jpg);
	background-repeat: repeat-y;
	padding-bottom:40px;
}

.wrapper-bottom {
	width:969px;
	height:22px;
	padding:0;
	margin:0 auto;
	background-image:url(../images/bbottom.jpg);
	background-repeat:no-repeat;
}

/* PAPER BACKGROUND */
/* ----------------------------------------- */

#paper {
	width:828px;
	margin:0 auto;
}

.paper-top {
	width:828px;
	margin:0 auto;
	background-image:url(../images/ptop.jpg);
	background-repeat:no-repeat;
	height:126px;
}

#paper-mid {
	width:828px;
	margin:0 auto;
	background-image:url(../images/pmid.jpg);
	background-repeat:repeat-y;
	display:block;
	padding:0;
	overflow: hidden;
	padding-bottom:75px;
	padding-top:7px;
}

.paper-bottom {
	width:828px;
	height:18px;
	margin:0 auto;
	background-image:url(../images/pbottom.jpg);
	background-repeat:no-repeat;
}

/* ENTRIES */
/* ----------------------------------------- */

.entry {
	width:720px;
	display: block;
	padding-top:55px;
	clear: both;
	margin-left:4px;
}

h1  {
	width:400px;
	font-size:32px;
	color:#803a3a;
	margin-top:35px;
	clear:both;
}

h1 span {
	font-size:20px;
	display:block;
	color:#803a3a;
	margin-top:10px;
}

h2 {
	width:180px;
	height: 23px;
	text-align: right;
	float:left;
	padding:0;
	margin:0;
	clear:both;
	font-size:19px;
	color:#803a3a;
	margin-bottom:-12px;
}

p {
	width:500px;
	margin-left:40px;
	float:right;
}

p img {
	float:right;
	margin-left:20px;
	padding-left:10px;
}

div.content {
	clear: both;
	padding:0;
	margin:0;
	overflow: hidden;
	display:block;
	padding-top:32px;
}

h3 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 13px;
	color:#ab7979;
}

h4 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 11px;
	color:#ab7979;
}

h5 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 10px;
	color:#ab7979;
}

h6 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 9px;
	color:#ab7979;
}

ul.unordered {
	float:right;
	width:500px;
	margin-left:40px;

}

ul.unordered li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:0;
}

ul.info {
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none;
}

ul.info li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:12px;
}

ul.skills {
	margin:0;
	padding:0;
	float:right;
	width:500px;
	margin-left:40px;
	margin-top:-6px;
	list-style-type: none;

}

ul.skills li {
	margin:0;
	padding:0;
	float:left;
	width:156px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:6px;
}


img.portrait {
	background-image:url(../images/frame.jpg);
	background-repeat: no-repeat;
	width:109px;
	height:109px;
	padding-top:20px;
	padding-left:11px;
	padding-right:11px;
	padding-bottom:36px;
	margin-left:50px;
	float:left;

}



/* SELF INFORMATION */
/* ----------------------------------------- */

.self {
	width:300px;
	float:left;
	padding-top:11px;
	margin-left:38px;
	margin-bottom:15px;
}

.self ul {
	padding-top: 10px;
}


.self ul li {
	background-repeat: no-repeat;
	padding-left:26px;
	background-position: 0 .1em;
	height:25px;
	display:block;
	margin-top:-2px;
}
